{% load static %}
<html>

<script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'gardenbotvr/css/style.css' %}">

</head>


<body>

    <div id="head"> GARDEN BOT VR</div>
    <div id="information"> Garden Bot is a small interactive vr garden experience. Choose some<br>
        plants from below that you'd like to use in your garden and select 'generate' to begin.<p>
    </div>
    <div class="colladas">
{% for model in colladas %}
    <img src="{{ model.thumb.url }}" width="200px" height="200px">
{% endfor %}
    </div>
</body>
<form action="http://127.0.0.1:8000/scene">
    <input type="submit" value="GENERATE" />
</form>

<script src="{% static 'gardenbotvr/js/script.js' %}"></script>
</html>