<!DOCTYPE html>

<html>
<meta name="apple-mobile-web-app-capable" content="yes">
{% load static %}

<head>

    <title>scene</title>

    <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script  src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-teleport-controls@0.2.x/dist/aframe-teleport-controls.min.js"></script>
    <script src="https://unpkg.com/aframe-controller-cursor-component@0.2.x/dist/aframe-controller-cursor-component.min.js"></script>
    <script src="https://rawgit.com/ngokevin/kframe/csstricks/scenes/aincraft/components/snap.js"></script>
    <script src="https://unpkg.com/aframe-extras/src/controls/touch-controls.js" type="text/javascript"></script>


<script>
    {% autoescape off %}
        let models = {{ entity_data }};
    {% endautoescape %}
</script>

<script src={% static 'gardenbotvr/js/randommodel.js' %}></script>
<script src={% static 'gardenbotvr/js/teleport.js' %}></script>

</head>

<body>

<a-scene>

    {%  block primitives %}

        <!-- hard coded models -->
        <a-box color="white" opacity="0.18" width="4" depth="7" height="2">
            <a-animation attribute="position" from="-4.585 17.063 29.897" to="-4.585 17.063 -33.181" delay="0" dur="36000"
                         easing="linear" repeat="indefinite" fill="both"></a-animation>
        </a-box>

        <a-box color="white" opacity="0.18" width="4" depth="8" height="2">
            <a-animation attribute="position" from="9 20 29.897" to="9 20 -33.181" delay="0" dur="50000"
                         easing="linear" repeat="indefinite" fill="both"></a-animation>
        </a-box>

        <a-cylinder id="ground" material="shader: flat" radius="30" height="0.1" color="{{ scene.groundcolor }}"></a-cylinder>

        <a-sky id="background" theta-length="90" radius="{{ scene.radius }}" color="{{ scene.skycolor }}"></a-sky>

        <a-plane color="#f4bc42" height="10" width="10" rotation="-90 0 0" position="-3.120 0.079 2.564"
             material="{{ scene.render_ground_material }}" intersection-spawn="event: click onTouchEnd; mixin: voxel"></a-plane>

        <a-entity gltf-model="url(/static/gardenbotvr/models/signtwo.gltf)" position="-8 -1 9" rotation="0 -45 0" id="teleport" teleport="18 1 -8">
        </a-entity>


    {% endblock %}

     <!-- scene asset generator -->
    {% for asset in sceneobjects %}
        {{ asset.to_aframe_animation|safe }}
    {% endfor %}

    <!-- Hands. -->
    <a-entity id="teleHand" hand-controls="left"
              teleport-controls="type: parabolic; collisionEntities: [mixin='voxel'], #ground"></a-entity>
    <a-entity id="blockHand" hand-controls="right" controller-cursor
              intersection-spawn="event: click; mixin: voxel"></a-entity>

    <!-- Camera. -->
    <a-camera position="1 0.2 0">

        <a-entity id="cursor" position="0 0 0" geometry="primitive: ring; radiusOuter: 0.016; radiusInner: 0.01" material="color: #FFF;" cursor="click: true; maxDistance: 10" raycaster scale="1 1 1"></a-entity>
         <a-animation begin="fusing" easing="ease" attribute="scale" fill="none" from="1 1 1" to="0 0 0" dur="1500"></a-animation>
    </a-camera>

</a-scene>

</body>

</html>