<!DOCTYPE html>
<html>


{% load static %}




<head>
<title>scene</title>

    <script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-teleport-controls@0.2.x/dist/aframe-teleport-controls.min.js"></script>
    <script src="https://unpkg.com/aframe-controller-cursor-component@0.2.x/dist/aframe-controller-cursor-component.min.js"></script>
    <script src="https://rawgit.com/ngokevin/kframe/csstricks/scenes/aincraft/components/snap.js"></script>
{#    <script src="random_model.js"></script>#}

{#    <script src="https://rawgit.com/ngokevin/kframe/csstricks/scenes/aincraft/components/intersection-spawn.js"></script>#}
</head>

<body>

<script>
    {% autoescape off %}
        let models = {{ selectedmodels }};
    {% endautoescape %}

    function getRandomModel() {
    //returns a random url

        return models[Math.floor(Math.random() * models.length)];

}

AFRAME.registerComponent('intersection-spawn', {
  schema: {
    default: '',
    parse: AFRAME.utils.styleParser.parse
  },

  init: function () {
    const data = this.data;
    const el = this.el;

    el.addEventListener(data.event, evt => {
      // Create element.
      const spawnEl = document.createElement('a-entity');

      // Snap intersection point to grid and offset from center.
      spawnEl.setAttribute('position', evt.detail.intersection.point);

      spawnEl.setAttribute('collada-model', `url(${getRandomModel()})`);

      // Set components and properties.
      Object.keys(data).forEach(name => {
        if (name === 'event') { return; }
        AFRAME.utils.entity.setComponentProperty(spawnEl, name, data[name]);
      });

      // Append to scene.
      el.sceneEl.appendChild(spawnEl);
    });
  }
});


</script>


  <a-scene>
      
    <!-- Assets. -->
    <a-assets>
        {% for model in colladas %}
        <a-mixin id="voxel" >
        </a-mixin>
        {%  endfor %}
    </a-assets>

    <a-cylinder id="ground" radius="30" height="0.1" color="#4286f4"></a-cylinder>

    <a-sky id="background" theta-length="90" radius="30" color="#fdff91"></a-sky>


    <!-- Hands. -->
    <a-entity id="teleHand" hand-controls="left" teleport-controls="type: parabolic; collisionEntities: [mixin='voxel'], #ground"></a-entity>
    <a-entity id="blockHand" hand-controls="right" controller-cursor intersection-spawn="event: click; mixin: voxel"></a-entity>

    <!-- Camera. -->
    <a-camera>
      <a-cursor id='cursor' intersection-spawn="event: click; mixin: voxel"></a-cursor>
    </a-camera>

  </a-scene>
</body>

</html>